<div class="mt-4 sm:mt-10 w-full flex flex-col items-center gap-4">
    <!-- regular cleaning -->
    <h2 class="text-[22px] text-primary font-bold text-center w-full fade-in-hide " style="line-height: 30px;">Our Cleaning Services</h2>
    <div class="w-full flex flex-col items-center sm:flex-row sm:justify-center sm:flex-wrap">
        <section class="w-[75%] sm:w-[25%] lg:w-[16.66%] h-auto bg-white p-2 rounded-md flex flex-col gap-3 justify-center items-center mb-2 relative hide-x">
            <div class="w-full h-40">
                <img class="w-full h-full object-cover object-center" src="../../../../../assets//services/REGULAR CLEANING.jpg" alt="bedroom">
            </div>
            <p class="w-full text-center font-bold text-primary h-12 flex flex-row justify-center items-center">Regular cleaning</p>
            <p class="w-full text-center h-[220px]">The rush of everyday life can get in the way of your plans and you end up not having enough time to clean your house. Don’t worry, we have the perfect solution for you!</p>
            <button routerLink="/services/regular-cleaning"
            class="bg-primary p-2 w-full text-white font-medium rounded-md text-md">Learn More</button>
            
        </section>
        <!-- deep cleaning -->
        <section class="w-[75%] sm:w-[25%] lg:w-[16.66%] h-auto bg-white p-2 rounded-md flex flex-col gap-3 justify-center items-center mb-2 relative hide-x-right">
            <div class="w-full h-40">
                <img class="w-full h-full object-cover object-top" src="../../../../../assets/services//DEEP CLEANING.jpg" alt="kitchen">
            </div>
            <p class="w-full text-center font-bold text-primary h-12 flex flex-row justify-center items-center">Deep Cleaning</p>
            <p class="w-full text-center h-[220px]">This type of service is done by capable professionals who know the steps needed to get rid of all the germs, fungi and bacteria around your house. It is the best solution for your environment.</p>
            <button 
            routerLink="/services/deep-cleaning"
            class="bg-primary p-2 w-full text-white font-medium rounded-md text-md" >Learn More</button>

        </section>
        <!-- move in/out -->
        <section class="w-[75%] sm:w-[25%] lg:w-[16.66%] h-auto bg-white p-2 rounded-md flex flex-col gap-3 justify-center items-center mb-2 relative hide-x">
            <div class="w-full h-40">
                <img class="w-full h-full object-cover object-top" src="../../../../../assets/services/MOVE IN_OUT.jpg" alt="move in/out">
            </div>
            <p class="w-full text-center font-bold text-primary h-12 flex flex-row justify-center items-center">Move In/Out</p>
            <p class="w-full text-center h-[220px]">As if all the stress of having to move is not enough, you still have to worry about cleaning the premises… Well, not anymore! Marx’s Cleaning puts its professionals at your disposal to free you from this headache!</p>
            <button 
            routerLink="/services/move-cleaning"
            class="bg-primary p-2 w-full text-white font-medium rounded-md text-md" >Learn More</button>
        </section>
        <!-- vacation home -->
        <section class="w-[75%] sm:w-[25%] lg:w-[16.66%] h-auto bg-white p-2 rounded-md flex flex-col gap-3 justify-center items-center mb-2 relative hide-x-right">
            <div class="w-full h-40">
                <img class="w-full h-full object-cover object-top" src="../../../../../assets/services/VACATION HOME.jpg" alt="vacation home">
            </div>
            <p class="w-full text-center font-bold text-primary h-12 flex flex-row justify-center items-center">Vacation Home</p>
            <p class="w-full text-center h-[220px]"></p>
            <button 
            routerLink="/services/vacation-cleaning"
            class="bg-primary p-2 w-full text-white font-medium rounded-md text-md">Learn More</button>
        </section>
        <!-- post construction -->
        <section class="w-[75%] sm:w-[25%] lg:w-[16.66%] h-auto bg-white p-2 rounded-md flex flex-col gap-3 justify-center items-center mb-2 relative hide-x">
            <div class="w-full h-40">
                <img class="w-full h-full object-cover object-top" src="../../../../../assets/services/POST CONSTRUCTION.jpg" alt="post construction">
            </div>
            <p class="w-full text-center font-bold text-primary h-12 flex flex-row justify-center items-center">Post Construction</p>
            <p class="w-full text-center h-[220px]">The best solution to get rid of all debris created by a construction project. Our team is ready to eliminate all dirt and debris in your property quickly.</p>
            <button 
            routerLink="/services/postconstruction-cleaning"
            class="bg-primary p-2 w-full text-white font-medium rounded-md text-md">Learn More</button>
        </section>
        <!-- commercial -->
        <section class="w-[75%] sm:w-[25%] lg:w-[16.66%] h-auto bg-white p-2 rounded-md flex flex-col gap-3 justify-center items-center mb-2 relative hide-x-right">
            <div class="w-full h-40">
                <img class="w-full h-full object-cover object-top" src="../../../../../assets/services/COMMERCIAL.jpg" alt="commercial">
            </div>
            <p class="w-full text-center font-bold text-primary h-12 flex flex-row justify-center items-center">Commercial</p>
            <p class="w-full text-center h-[220px]">Keeping your commercial store clean is one way to raise productivity! Not to mention that it gets your space free of germs and bacteria.</p>
            <button 
            routerLink="/services/commercial-cleaning"
            class="bg-primary p-2 w-full text-white font-medium rounded-md text-md">Learn More</button>
        </section>
    </div>
</div>