<div class="mt-4 sm:mt-10 w-full flex flex-col items-center gap-4">
    <!-- regular cleaning -->
    <h2 class="text-[22px] text-primary font-bold text-center w-full fade-in-hide " style="line-height: 30px;">Our Cleaning Services</h2>
    <div class="w-full flex flex-col items-center sm:flex-row sm:justify-center sm:flex-wrap">
        <section class="w-[70%] sm:w-[25%] lg:w-[16.66%] h-auto bg-white p-2 rounded-md flex flex-col gap-3 justify-center items-center mb-2 relative hide-x">
            <div class="w-full h-32">
                <img class="w-full h-full object-cover object-top" src="../../../../../assets/bedroom-1872196_1280.jpg" alt="bedroom">
            </div>
            <p class="w-full text-center font-bold text-primary h-12 flex flex-row justify-center items-center">Regular cleaning</p>
            <button 
            *ngIf="!regularInfo"
            class="bg-primary p-2 w-full text-white font-medium rounded-md text-md" (click)="revealMoreInformation('regular')">Learn More</button>
            <ng-container *ngIf="regularInfo">
                <div class="flex flex-col w-full h-auto">
                    <div class="flex flex-row gap-3">
                        <p class="text-md self-start font-semibold my-2">General Cleaning</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md">Clean all rooms.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md">Dusting.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md">Bed Made.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md">Remove Trash.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md">Clean windowsills.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md">Mirrors cleaning.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md">Clean microwave.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md">Clean stove.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md">Bathtub.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md">Washed bathroom glass.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md">Floor and Carpet Care</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md">Vacuum carpets, rugs and floor.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md">Mop all floor types.</p>
                    </div>
                    <div class="flex flex-row gap-3 my-2">
                        <p class="text-md font-semibold">Stainless Steel Maintenance</p>
                    </div>
                    <div class="flex flex-row gap-3 mb-6">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md">Condition stainless steel.</p>
                    </div>
                </div>
                <button class="absolute w-10 h-10 p-3 bg-white shadow-md rounded-full" style="bottom: -18px;" (click)="hideInformation('regular')">
                    <i class='bx bx-chevron-up'></i>
                </button>
            </ng-container>
        </section>
        <!-- deep cleaning -->
        <section class="w-[70%] sm:w-[25%] lg:w-[16.66%] h-auto bg-white p-2 rounded-md flex flex-col gap-3 justify-center items-center mb-2 relative hide-x">
            <div class="w-full h-32">
                <img class="w-full h-full object-cover object-top" src="../../../../../assets/kitchen-1940174_1280.jpg" alt="kitchen">
            </div>
            <p class="w-full text-center font-bold text-primary h-12 flex flex-row justify-center items-center">Deep Cleaning</p>
            <button 
            *ngIf="!deepInfo"
            class="bg-primary p-2 w-full text-white font-medium rounded-md text-md" (click)="revealMoreInformation('deep')">Learn More</button>
            <ng-container *ngIf="deepInfo">
                <div class="flex flex-col w-full h-auto">
                    <div class="flex flex-row gap-3">
                        <p class="text-md self-start font-semibold my-2">General Cleaning</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Detailed clean all rooms.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Dusting.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Bed made.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Mirrors Cleaning.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Move all Furniture.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Clean blinds.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Clean air conditioning vents.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Clean baseboards.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Clean ceiling fans.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <p class="text-md self-start font-semibold my-2">Upholstery and Glass:</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Vacuuming upholstery.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Wash glass doors.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <p class="text-md self-start font-semibold my-2">Kitchen:</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Clean inside refrigerator.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Clean microwave.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Clean stove.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Clean inside oven.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <p class="text-md self-start font-semibold my-2">Bathroom:</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Bathtub.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Shower scrubbed.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Washed Bathroom Glass.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <p class="text-md self-start font-semibold my-2">Outdoor:</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Lanai cleaning.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <p class="text-md self-start font-semibold my-2">Furniture Care:</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Condition stainless steel/wood furniture.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <p class="text-md self-start font-semibold my-2">Floor Care:</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Vacuum carpets, rugs and floor.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Mop all floor types.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <p class="text-md self-start font-semibold my-2">Waste Management:</p>
                    </div>
                    <div class="flex flex-row gap-3 mb-6">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Remove Trash.</p>
                    </div>
                </div>
                <button class="absolute w-10 h-10 p-3 bg-white shadow-md rounded-full" style="bottom: -18px;" (click)="hideInformation('deep')">
                    <i class='bx bx-chevron-up'></i>
                </button>
            </ng-container>
        </section>
        <!-- move in/out -->
        <section class="w-[70%] sm:w-[25%] lg:w-[16.66%] h-auto bg-white p-2 rounded-md flex flex-col gap-3 justify-center items-center mb-2 relative hide-x">
            <div class="w-full h-32">
                <img class="w-full h-full object-cover object-top" src="../../../../../assets/moveinout.jpg" alt="move in/out">
            </div>
            <p class="w-full text-center font-bold text-primary h-12 flex flex-row justify-center items-center">Move In/Out</p>
            <button 
            *ngIf="!moveInfo"
            class="bg-primary p-2 w-full text-white font-medium rounded-md text-md" (click)="revealMoreInformation('move')">Learn More</button>
            <ng-container *ngIf="moveInfo">
                <div class="flex flex-col w-full h-auto">
                    <div class="flex flex-row gap-3">
                        <p class="text-md self-start font-semibold my-2">Housekeeping Department:</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Detailed clean all rooms.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Dusting.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Bed made.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Mirrors Cleaning.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Move all Furniture.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Clean blinds.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Clean air conditioning vents.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Clean baseboards.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Clean ceiling fans.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <p class="text-md self-start font-semibold my-2">Upholstery and Glass:</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Vacuuming upholstery.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Wash glass doors.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <p class="text-md self-start font-semibold my-2">Kitchen:</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Clean inside refrigerator.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Clean microwave.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Clean stove.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Clean inside oven.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <p class="text-md self-start font-semibold my-2">Bathroom:</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Bathtub.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Shower scrubbed.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Washed Bathroom Glass.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <p class="text-md self-start font-semibold my-2">Outdoor:</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Lanai cleaning.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <p class="text-md self-start font-semibold my-2">Furniture Care:</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Condition stainless steel/wood furniture.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <p class="text-md self-start font-semibold my-2">Floor Care:</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Vacuum carpets, rugs and floor.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Mop all floor types.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <p class="text-md self-start font-semibold my-2">Waste Management:</p>
                    </div>
                    <div class="flex flex-row gap-3 mb-6">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Remove Trash.</p>
                    </div>
                </div>
                <button class="absolute w-10 h-10 p-3 bg-white shadow-md rounded-full" style="bottom: -18px;" (click)="hideInformation('move')">
                    <i class='bx bx-chevron-up'></i>
                </button>
            </ng-container>
        </section>
        <!-- vacation home -->
        <section class="w-[70%] sm:w-[25%] lg:w-[16.66%] h-auto bg-white p-2 rounded-md flex flex-col gap-3 justify-center items-center mb-2 relative hide-x">
            <div class="w-full h-32">
                <img class="w-full h-full object-cover object-center" src="../../../../../assets/vacation-home.jpg" alt="vacation home">
            </div>
            <p class="w-full text-center font-bold text-primary h-12 flex flex-row justify-center items-center">Vacation Home</p>
            <button 
            *ngIf="!vacationInfo"
            class="bg-primary p-2 w-full text-white font-medium rounded-md text-md" (click)="revealMoreInformation('vacation')">Learn More</button>
            <ng-container *ngIf="vacationInfo">
                <div class="flex flex-col w-full h-auto">
                    <div class="flex flex-row gap-3">
                        <p class="text-md self-start font-semibold my-2">Kitchen:</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Refrigerator (Inside/Outside/Top). </p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">All food items removed and disposed of.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Stove Top..</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Oven.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Microwave (Inside/Outside).</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Dishwasher (Empty and wiped Down).</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Countertop Appliances.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Countertop.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Cabinet Doors & Handles.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Drawers & Handles.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Cabinet Contents Organized.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Drawer Contents Organized.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Single-portfolio.  </p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <p class="text-md self-start font-semibold my-2">Bathroom:</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Shower/Tub.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Mirror.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Vanity.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Sinks.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Toilets.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Linen Closets Organized.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Towel Rack Display.   </p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <p class="text-md self-start font-semibold my-2">Bedrooms:</p>
                    </div>                                                              
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Bed Linens Washed/Dried. </p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Fresh Linens on Bed.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">All Drawers Checked for Left Behind Items from Guests.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Blinds Dusted.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Window Sills.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <p class="text-md self-start font-semibold my-2">General:</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Floors -Swiffer/Vacuum/Mop.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">All Ceiling Fans Dusted.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">All Window Sills Dusted.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">All Blinds Dusted.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Sliders Cleaned.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Dryer Vent Cleaned.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Inspection of Home for Damage and Reported to Homeowner.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <p class="text-md self-start font-semibold my-2">Lanai:</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Patio Furniture Arranged Neatly.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Tabletop Cleaned.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Chair Cushions Checked for Stains.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Grill Cleaned.</p>
                    </div>
                    <div class="flex flex-row gap-3 mb-6">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Pool Toys Organized.</p>
                    </div>
                </div>
                <button class="absolute w-10 h-10 p-3 bg-white shadow-md rounded-full" style="bottom: -18px;" (click)="hideInformation('vacation')">
                    <i class='bx bx-chevron-up'></i>
                </button>
            </ng-container>
        </section>
        <!-- post construction -->
        <section class="w-[70%] sm:w-[25%] lg:w-[16.66%] h-auto bg-white p-2 rounded-md flex flex-col gap-3 justify-center items-center mb-2 relative hide-x">
            <div class="w-full h-32">
                <img class="w-full h-full object-cover object-top" src="../../../../../assets/post-construction.jpg" alt="post construction">
            </div>
            <p class="w-full text-center font-bold text-primary h-12 flex flex-row justify-center items-center">Post Construction</p>
            <button 
            *ngIf="!constructionInfo"
            class="bg-primary p-2 w-full text-white font-medium rounded-md text-md" (click)="revealMoreInformation('construction')">Learn More</button>
            <ng-container *ngIf="constructionInfo">
                <div class="flex flex-col w-full h-auto">
                    <div class="flex flex-row gap-3">
                        <p class="text-md self-start font-semibold my-2">Kitchen:</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Cabinet fronts and inside cleaned.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Countertops and shelves dusted and/or wiped.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Sinks and backsplash washed.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Windows inside cleaned.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Appliance exteriors cleaned
                            (stovetop, oven, range hood, fridge, microwave, dishwasher).</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Small appliances wiped (microwave, toaster, coffee maker).</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">All surfaces dusted.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Windowsills and window tracks cleaned.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Baseboards dusted and/or wiped.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Doorknobs, doorframes and doors wiped.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Light switches wiped.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Marks on walls and baseboards cleaned.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Garbage and recycling bins emptied.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Floor vacuumed and washed.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <p class="text-md self-start font-semibold my-2">Bathrooms:</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Sink cleaned and sanitized.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Bathtub, shower walls and glass doors cleaned and sanitized.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Toilet cleaned and sanitized inside and out.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Mirrors cleaned.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Cabinet fronts and inside cleaned.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Countertops and shelves dusted and/or wiped.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">All surfaces dusted.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Windows inside cleaned.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Windowsills and window tracks cleaned.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Baseboards dusted and/or wiped.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Doorknobs, doorframes and doors wiped.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Light switches wiped.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Garbage and recycling bins emptied.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Floor vacuumed and washed.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Marks on walls and baseboards cleaned.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <p class="text-md self-start font-semibold my-2">Bedrooms:</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">All surfaces dusted.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Carpet and area rugs vacuumed.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Hard surface floors vacuumed and damp-mopped.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Closet fronts and insides cleaned.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Marks on walls and baseboards cleaned.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Mirrors cleaned.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Windowsills and window tracks cleaned.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Baseboards dusted and/or wiped.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Doorknobs, doorframes and doors wiped.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Light switches wiped.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Garbage and recycling bins emptied.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <p class="text-md self-start font-semibold my-2">Other Living areas:</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">All surfaces dusted.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Carpet and area rugs vacuumed.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Closet fronts and insides cleaned.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Hard surface floors vacuumed and damp-mopped.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Marks on walls and baseboards cleaned.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Mirrors cleaned.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Windowsills and window tracks cleaned (indoor).</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Baseboards dusted and/or wiped.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Doorknobs, doorframes and doors cleaned.</p>
                    </div>
                    <div class="flex flex-row gap-3">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Light switches wiped.</p>
                    </div>
                    <div class="flex flex-row gap-3 mb-6">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">Garbage and recycling bins emptied.</p>
                    </div>
                </div>
                <button class="absolute w-10 h-10 p-3 bg-white shadow-md rounded-full" style="bottom: -18px;" (click)="hideInformation('construction')">
                    <i class='bx bx-chevron-up'></i>
                </button>
            </ng-container>
        </section>
        <!-- commercial -->
        <section class="w-[70%] sm:w-[25%] lg:w-[16.66%] h-auto bg-white p-2 rounded-md flex flex-col gap-3 justify-center items-center mb-2 relative hide-x">
            <div class="w-full h-32">
                <img class="w-full h-full object-cover object-top" src="../../../../../assets/commercial.jpg" alt="commercial">
            </div>
            <p class="w-full text-center font-bold text-primary h-12 flex flex-row justify-center items-center">Commercial</p>
            <button 
            *ngIf="!commercialInfo"
            class="bg-primary p-2 w-full text-white font-medium rounded-md text-md" (click)="revealMoreInformation('commercial')">Learn More</button>
            <ng-container *ngIf="commercialInfo">
                <div class="flex flex-col w-full h-auto">
                    <div class="flex flex-row gap-3 mb-6">
                        <i class='bx bx-check text-primary'></i>
                        <p class="text-md self-start">On Demand</p>
                    </div>
                    
                </div>
                <button class="absolute w-10 h-10 p-3 bg-white shadow-md rounded-full" style="bottom: -18px;" (click)="hideInformation('commercial')">
                    <i class='bx bx-chevron-up'></i>
                </button>
            </ng-container>
        </section>
    </div>
</div>