.fade-up-hide{
    opacity: 0;
    filter:blur(0);
    transform: translateY(100%);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.fade-up-show{
    opacity: 0;
    filter:blur(0);
    transform: translateY(0);
}

.hide-x{
    opacity: 0;
    filter:blur(0);
    transform: translateX(-100%);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.show-x{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.hide-x-right{
    opacity: 0;
    filter:blur(0);
    transform: translateX(100%);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.show-x-right{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.fade-in-hide{
    opacity: 0;
    filter:blur(0);
    transition: all 1.5s cubic-bezier(0.5, 0, 0, 1) 0s;
}

.fade-in-show{
    opacity: 1;
    filter: blur(0);
}