<div class="mt-4 w-full flex flex-col gap-4">
    <h2 class="text-2xl text-primary font-bold text-center w-full">Contact us for an exceptional experience</h2>
    <section class="flex flex-col w-full text-md">
        <a href="tel:(239)271-9367" class="text-primary font-bold">(239) 271-9367</a>
        <ul class="w-full text-black-text mt-3">
            <li class="flex flex-row justify-between">
                <p class="font-bold">Mon</p>
                <p class="font-medium">07:00 - 16:00</p>
            </li>
            <li class="flex flex-row justify-between">
                <p class="font-bold">Tue</p>
                <p class="font-medium">07:00 - 16:00</p>
            </li>
            <li class="flex flex-row justify-between">
                <p class="font-bold">Wed</p>
                <p class="font-medium">07:00 - 16:00</p>
            </li>
            <li class="flex flex-row justify-between">
                <p class="font-bold">Thu</p>
                <p class="font-medium">07:00 - 16:00</p>
            </li>
            <li class="flex flex-row justify-between">
                <p class="font-bold">Fri</p>
                <p class="font-medium">07:00 - 16:00</p>
            </li>
            <li class="flex flex-row justify-between">
                <p class="font-bold">Sat</p>
                <p class="font-medium">07:00 - 16:00</p>
            </li>
            <li class="flex flex-row justify-between">
                <p class="font-bold">Sun</p>
                <p class="font-medium">10:00 - 16:00</p>
            </li>
            <li class="flex flex-row justify-between">
                <p class="font-bold">Holiday</p>
                <p class="font-medium">10:00 - 16:00</p>
            </li>
        </ul>
    </section>
    <p class=" text-black-text">
        <span class="font-bold text-primary text-md">Service Areas: </span>
        <span class="text-md">Fort Myers, Fort Myers Beach, Estereo, Bonita Springs, Naples, Lehigh, Cape Coral, North Fort Myers, Punta Gorda, Port Charlotte</span>
    </p>
    <button class="bg-primary text-white rounded-md px-1 py-2">Request an Estimate</button>
</div>