<header class="w-full h-[10%] flex flex-row justify-center items-center">
    <img class="w-[10%]" src="../../../../../assets/LOGO 1.png" alt="marxs cleaning logo">
</header>
<main class="flex flex-col w-full p-6 gap-4">
    <h1 class="font-bold text-2xl text-center">Marx's Cleaning Cancellation Policy</h1>
    <section class="flex flex-col gap-4">
        <h2 class="font-semibold text-xl">
            Late Cancellations
        </h2>
        <p>
            One of the ways we ensure we keep the best cleaning teams is making sure they stay busy.
            Late cancellations, is our biggest challenge when trying to accomplish this. We understand many
            cancellations are out of peoples control. Things like getting sick and last minute family emergencies come
            up.
            We know life happens and we’ll always be understanding of that.
            However, in order the keep our teams busy so they stick around, we do ask for at least a 24 hours notice if
            there’s a need to cancel.
            In cases where we don’t get at least a 24-hour notice, we reserve the right charge a $50 cancellation fee.
            Cancellation fees may be charged for reasons outside of requesting a cancellation.
            These include not being able to gain entry, payment failing, no running water, no electricity, or no working
            air conditioning - especially during the summer months.
            In these cases, we’ll always try our best to find a creative solution to get the job done. When we can’t, or
            can’t get in contact with the homeowner to help we’ll need to charge the fee.
            Essentially, if we aren’t able to perform the service at no fault of our own, a cancellation fee may be
            charged.
            Thanks for understanding.
        </p>
    </section>
</main>