<div id="font-montserrat" class="w-screen h-screen flex flex-col overflow-auto" (scroll)="detectScroll($event)">
    
    <cleaning-navbar class=" bg-white"></cleaning-navbar>
    <div class="w-full h-2 bg-primary z-10"></div>
    <div class="w-full h-auto relative">
        <video autoplay muted loop class="-z-10 w-screen object-cover absolute h-auto opacity-45">
            <source src="../../../assets/video-mobile.mp4" type="video/mp4">
        </video>
        <cleaning-introduction></cleaning-introduction>
    </div>
    <main class="h-1/3 w-full px-2 pt-2 flex flex-col">
       
       <cleaning-about-us></cleaning-about-us>
       <cleaning-guarantees></cleaning-guarantees>
       <cleaning-our-services></cleaning-our-services>
       <cleaning-service-guarantees></cleaning-service-guarantees>
       <cleaning-reviews></cleaning-reviews>
       <cleaning-contact-us></cleaning-contact-us>
       <cleaning-footer></cleaning-footer>
    </main>
    <div *ngIf="!showButton" class="fixed bottom-0 bg-primary px-4 py-2 w-full h-auto flex flex-row" >
        <a href="tel:tel:(239)271-9367" class="w-1/3 flex flex-col gap-2 items-center"><i class='bx bx-phone text-2xl text-white'></i>
        <p class="text-md text-white font-semibold">CALL</p>
        </a>
        <button class="w-1/3 flex flex-col gap-2 items-center"><i class='bx bxs-calendar-star text-2xl text-white'></i>
        <p class="text-md text-white font-semibold">SCHEDULE</p>
        </button>
        <a href="sms:+593979379671?body=Hello%20there!" class="w-1/3 flex flex-col gap-2 items-center"><i class='bx bx-message-dots text-2xl text-white'></i>
        <p class="text-md text-white font-semibold">SMS</p>
        </a>
    </div>
</div>