<header class="w-full h-auto flex flex-col">
    <div class="w-full bg-primary text-center text-white py-1 text-md" id="navbar">
        <span >A clean space is a happy place!</span>
    </div>
    <nav class="w-full h-full p-2 flex flex-row justify-between items-center">
        <img class="w-[20%] h-[20%] sm:w-[10%] sm:h-[10%] md:w-[5%] md:h-[5%] object-cover" src="../../../../../assets/LOGO 1.png" alt="marxs cleaning logo">
        <div class="w-1/2  flex flex-row items-center  justify-end gap-4 pt-3">
            <a href="tel:(239)2719367" class="text-3xl text-black-text flex flex-row items-center gap-3">
                <i class='bx bxs-phone text-primary'></i>
                <span class="hidden sm:inline-block text-base">(239)2719367</span>
            </a>
            <a (click)="scrollToAboutUs()" class="hidden sm:inline-block cursor-pointer">About Us</a>
            <a routerLink="quote-form" class="hidden sm:flex flex-row items-center gap-3 bg-primary text-white py-2 px-3 rounded-md text-sm  font-medium">
                <span>Get a quote</span>
            </a>
            <button class="text-3xl text-primary sm:hidden mt-[6px]">
                <i class='bx bx-menu'></i>
            </button>
        </div>
    </nav>
</header>
<ng-template #menuOptions>
    <ul class="w-screen h-screen bg-white">
        <li>
            <a href="#">Contact Us</a>
        </li>
    </ul>
</ng-template>
