<header class="w-full h-[10vh] flex flex-col">
    <div class="w-full bg-primary text-center text-white py-1 text-sm">
        <span >A clean space is a happy place</span>
    </div>
    <nav class="w-full h-full flex flex-row justify-between items-center">
        <img class="w-1/2 object-cover pr-[60px]" src="../../../../../assets/LOGO.png" alt="marxs cleaning logo">
        <div class="w-1/2  flex flex-row  justify-end px-4 gap-4">
            <a href="tel:(239)2719367" class="text-3xl text-black-text">
                <i class='bx bxs-phone text-black-text'></i>
            </a>
            <button class="text-3xl text-black-text">
                <i class='bx bx-menu'></i>
            </button>
        </div>
    </nav>
</header>
<ng-template #menuOptions>
    <ul class="w-screen h-screen bg-white">
        <li>
            <a href="#">Contact Us</a>
        </li>
    </ul>
</ng-template>
