<div class="mt-4 w-full flex flex-col gap-4">
    <h2 class="text-2xl text-primary font-bold text-center w-full fade-in-hide">Our Cleaning Service Guarantees</h2>
    <div class="w-full flex flex-row gap-2 fade-in-hide">
        <section class="w-1/2 h-44 bg-white rounded-md p-2 flex flex-col justify-center items-center shadow-xl">
            <img width="80" src="../../../../../assets/icons/csat.svg" alt="customer satisfaction">
            <p class="font-bold text-center text-xl text-primary">Customer Satisfaction</p>
        </section>
        <section class="w-1/2 h-44 bg-white rounded-md p-2 flex flex-col justify-center items-center shadow-xl">
            <img width="80" src="../../../../../assets/icons/schedule.svg" alt="schedule">
            <p class="font-bold text-center text-xl text-primary">Easy Scheduling</p>
        </section>
    </div>
    <div class="w-full flex flex-row gap-2 fade-in-hide">
        <section class="w-1/2 h-44 bg-white rounded-md p-2 flex flex-col justify-center items-center shadow-xl">
            <img width="80" src="../../../../../assets/icons/proffessional.svg" alt="professional cleaning">
            <p class="font-bold text-center text-xl text-primary">Professional Cleaning</p>
        </section>
        <section class="w-1/2 h-44 bg-white rounded-md p-2 flex flex-col justify-center items-center shadow-xl">
            <img width="80" src="../../../../../assets/icons/guarantee.svg" alt="guarantee">
            <p class="font-bold text-center text-xl text-primary">Guarantee</p>
        </section>
    </div>
</div>