<section class="flex flex-col w-full gap-3">
    <h2 class="text-2xl text-primary font-bold text-center w-full mt-6">Looking for the best</h2>
    <h2 class="text-2xl text-primary font-bold text-center w-full">cleaning service in the area?</h2>
    <p class="text-md">At Marx's Cleaning, we understand the importance of a clean and inviting space. We're not just about wiping surfaces; we're about elevating your cleaning experience. </p>
    <p class="text-md">Our unwavering dedication to excellence, combined with our meticulous approach to every detail, guarantees a spotless and gleaming space. 
        Our team of dedicated professionals specializes in delivering personalized cleaning services that cater to your unique needs. </p>
    <p class="text-md">Discover the Marx's Cleaning difference! We ensure our commitment to excellence translates into an impeccably thorough and refreshing clean every time. </p>
    <p class="text-md">From homes to commercial spaces, post-construction areas, and vacation homes, our devoted crew delivers exceptional service. Elevate your cleaning experience with Marx's Cleaning!</p>
</section>