<section class="flex flex-row w-full gap-3 mt-8 md:mt-10" id="about-us">
    <div class="flex flex-col w-full sm:w-1/2 gap-3" style="line-height: 30px;">
        <div class="flex flex-col">
            <h2 class="text-[22px] text-primary font-bold text-center w-full mt-6 fade-in-hide">Looking for the best</h2>
            <h2 class="text-[22px] text-primary font-bold text-center w-full fade-in-hide">cleaning service in the area?</h2>
        </div>
        <p class="sm:text-base fade-in-hide text-center">At Marx's Cleaning, we understand the importance of a clean and inviting space. We're not just about wiping surfaces; we're about elevating your cleaning experience. </p>
        <p class="sm:text-base fade-in-hide text-center">Our unwavering dedication to excellence, combined with our meticulous approach to every detail, guarantees a spotless and gleaming space. 
            Our team of dedicated professionals specializes in delivering personalized cleaning services that cater to your unique needs. </p>
        <p class="sm:text-base fade-in-hide text-center">Discover the Marx's Cleaning difference! We ensure our commitment to excellence translates into an impeccably thorough and refreshing clean every time. </p>
        <p class="sm:text-base fade-in-hide text-center">From homes to commercial spaces, post-construction areas, and vacation homes, our devoted crew delivers exceptional service. Elevate your cleaning experience with Marx's Cleaning!</p>
    </div>
    <div class="hide-x hidden sm:block w-1/2 h-full px-3 py-5 self-center">
        <img class="max-h-[500px] object-contain w-full m-auto" src="../../../../../assets/clean-woman-2.png" alt="woman-cleaning">
    </div>
</section>