<h1 class="w-full text-2xl sm:text-4xl font-extrabold px-2 fade-in-hide mt-[74px]" style="line-height: 30px;">
    <p class="text-black-text">Welcome to</p> <p class="text-primary whitespace-nowrap">Marx’s Cleaning!</p>   <p class="text-black-text">Explore <br> Cleaning That</p>  <p class="text-primary">Makes You <br>Smile!</p> 
</h1>
<div class="w-full flex flex-row justify-center items-center fade-in-hide">
    <a href="#" class="flex flex-row items-center gap-3 bg-primary text-white py-2 px-3 rounded-md text-base mt-4 font-medium">
        <span>Get a quote</span>
    </a>
</div>