<h1 class="w-full text-4xl font-extrabold" style="line-height: 48px;">
    <p class="text-black-text">Welcome to</p> <p class="text-primary">Marx’s Cleaning!</p>   <p class="text-black-text">Explore Cleaning That</p>  <p class="text-primary">Makes You Smile!</p> 
</h1>

<div class="w-full flex flex-row justify-center items-center">
    <a href="#" class="flex flex-row items-center gap-3 bg-primary text-white py-1 px-3 rounded-md text-sm mt-4 font-medium">
        <span>Request Estimate</span>
        <i class='bx bx-right-arrow-alt text-xl'></i>
    </a>
</div>