<div class="mt-4 w-full flex flex-col gap-4">
    <h2 class="text-[22px] text-primary font-bold text-center w-full fade-in-hide" style="line-height: 30px;">See what our customers say about us</h2>
    <section class="flex flex-col w-full items-center fade-in-hide">
        <h2 class="font-semibold">Top rated on Thumbtack</h2>
        <div class="flex flex-row gap-3 justify-center">
            <i class='bx bxs-star text-amber-400' ></i>
            <i class='bx bxs-star text-amber-400' ></i>
            <i class='bx bxs-star text-amber-400' ></i>
            <i class='bx bxs-star text-amber-400' ></i>
            <i class='bx bxs-star text-amber-400' ></i>
        </div>
        <img class="w-1/4 sm:w-[15%] md:w-[10%] my-2" src="assets/thumbtack-logo-8D06EC40F6-seeklogo.com.png" alt="thumbtack logo">
        <p class="font-semibold">Based on 68 reviews</p>
    </section>
    <div class="w-full flex flex-row gap-3 overflow-x-scroll overflow-y-hidden fade-in-hide carousel" style="scroll-snap-type: x mandatory;">
        <ng-container *ngFor="let item of data;index as i">
            <div class="w-full h-44 bg-white rounded-md flex flex-col gap-3 snap-center p-3 carousel-item" style="flex: 0 0 310px" >
                <p class="max-h-28 overflow-hidden custom-ellipsis text-black-text text-md">{{item.comment}}</p>
                <div class="flex flex-row gap-3">
                    <div class="flex flex-col">
                        <p class="text-md font-medium">{{item.name}}</p>
                        <p class="text-md text-gray-300 font-medium">{{item.date}}</p>
                        <div class="flex flex-row gap-3 justify-center">
                            <ng-container *ngFor="let num of [].constructor(item.rate)">
                                <i class='bx bxs-star text-amber-400' ></i>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>