<footer class="bg-white text-black my-20 relative">
    <div _ngcontent-ng-c4085139727="" class="w-full h-2 bg-primary z-10">&nbsp;</div>
    <br>
    <div class="container mx-auto px-6">
        <div class="flex flex-wrap justify-between">
            <div class="w-full md:w-1/4 text-center md:text-left">
                <h5 class="text-xl font-bold border-b-4 border-primary inline-block pb-2">Institutional</h5>
                <p class="py-4 text-gray-800">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
            <div class="w-full md:w-1/4 text-center md:text-left">
                <h5 class="text-xl font-bold border-b-4 border-primary inline-block pb-2">Services</h5>
                <ul class="list-reset items-center text-gray-800">
                    <li class="py-2">Regular Cleaning</li>
                    <li class="py-2">Deep Cleaning</li>
                    <li class="py-2">Move In/Out</li>
                    <li class="py-2">Vacation Home</li>
                    <li class="py-2">Post Construction</li>
                    <li class="py-2">Commercial</li>
                </ul>
            </div>
            <div class="w-full md:w-1/4 text-center md:text-left">
                <h5 class="text-xl font-bold border-b-4 border-primary inline-block pb-2">Follow Us</h5>
                <ul class="list-reset items-center text-gray-800">
                    <li class="py-2">
                        <a href="https://www.instagram.com/marxs.services/" target="_blank"
                            class="text-gray-800 hover:text-gray-700"><img class="w-[32px] inline-block"
                                src="../../../../../assets/icons/ig-icon.svg" alt="instagram icon"></a>
                    </li>
                </ul>
                <ul class="list-reset items-center text-gray-800">
                    <li class="py-2">
                        <a href="https://www.facebook.com/marxs.services" target="_blank"
                            class="text-gray-800 hover:text-gray-700"><img class="w-[30px] inline-block"
                                src="../../../../../assets/icons/fb-icon.svg" alt="facebook icon"></a>
                    </li>
                </ul>
            </div>

            <div class="w-full md:w-1/4 text-center md:text-left">
                <h5 class="text-xl font-bold border-b-4 border-primary inline-block pb-2">Contact Us</h5>
                <ul class="list-reset items-center text-gray-800">
                    <li class="py-2">
                        <a href="tel:(239)271-9367" class="text-gray-800 hover:text-gray-700"><img
                                class="w-[22px] inline-block" src="../../../../../assets/icons/phone-icon.svg"
                                alt="phone icon"></a>
                        (239) 271-9367
                    </li>
                    <li class="py-2">
                        <a href="mailto:management@marxscleaning.com" class="text-gray-800 hover:text-gray-700"><img
                                class="w-[24px] inline-block" src="../../../../../assets/icons/mail-icon.svg"
                                alt="email icon"></a>
                        management@marxscleaning.com
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-primary py-2">
        <div class="container mx-auto px-6">
            <p class="text-center text-white">
                &copy; 2024 Marx's Cleaning - All Rights Reserved
            </p>
        </div>
    </div>
</footer>