<footer class="mt-16 w-full flex flex-col sm:flex-row gap-4 mb-[5.2rem] sm:mb-0 mb:justify-center sm:p-10">
    <p class="w-full text-center font-bold text-primary text-xl gap-3 px-2">Institutional</p> 
    <div class="w-1/2 self-center h-0.5 bg-primary z-10 my-1">&nbsp;</div>
    <a href="" class="text-center">Home</a>
    <a href="" class="text-center">About Us</a>
    <a href="" class="text-center">Contact Us</a>
    <a href="" class="text-center">Guarantee</a>
    <a routerLink="/cancellation-policy" target="_blank" class="text-center">Cancellation Policy</a>
    <p class="w-full text-center font-bold text-primary text-xl gap-3 px-2 mt-6">Services</p> 
    <div class="w-1/2 self-center h-0.5 bg-primary z-10 my-1">&nbsp;</div>
    <a href="" class="text-center">Regular Cleaning</a>
    <a href="" class="text-center">Deep Cleaning</a>
    <a href="" class="text-center">Move In/Out </a>
    <a href="" class="text-center">Vacation Home</a>
    <a href="" class="text-center">Post Construction</a>
    <a href="" class="text-center">Commercial</a>
    <!-- <p class="w-full text-center font-bold text-primary text-xl gap-3 px-2">Services</p> -->
    <p class="w-full text-center font-bold text-primary text-xl gap-3 px-2 mt-6">Follow Us</p>
    <div class="w-1/2 self-center h-0.5 bg-primary z-10 my-1">&nbsp;</div> 
    <div class="flex flex-row w-full gap-3 justify-center sm:items-center">
        <a href="https://www.instagram.com/marxs.services/" target="_blank"> <img class="w-[32px]" src="../../../../../assets/icons/ig-icon.svg" alt="instagram icon"></a>
        <a href="https://www.facebook.com/marxs.services" target="_blank">
            <img class="w-[30px]" src="../../../../../assets/icons/fb-icon.svg" alt="instagram icon">
        </a>
    </div>
    <div class="flex flex-col gap-4 w-full items-center sm:justify-center">
        <a class="w-full text-center font-bold text-primary text-md flex flex-row items-center gap-3 px-2 justify-center" href="tel:(239)271-9367">
            <img class="w-[22px]" src="../../../../../assets/icons/phone-icon.svg" alt="phone icon">
            <span>
                (239) 271-9367
            </span>
        </a>
        <a class="w-full text-center flex flex-row items-center font-bold text-primary text-md gap-3 px-2 justify-center" href="mailto:management@marxscleaning.com">
            <img class="w-[24px]" src="../../../../../assets/icons/mail-icon.svg" alt="email icon">
            <span>
                management@marxscleaning.com
            </span>
        </a>
    </div>
    <p class="bg-primary text-white text-center p-3 text-sm font-semibold">&copy; 2024 Marx's Cleaning - All Rights Reserved</p>
</footer>