<div class="mt-4 w-full flex flex-col lg:flex-row lg:justify-center gap-4 ">
    <div class="flex flex-col sm:flex-row gap-2 w-full lg:w-1/2">
        <div class="w-full sm:w-1/2 flex flex-row gap-2">
            <section class="w-1/2 h-44 bg-white rounded-md p-2 flex flex-col justify-center items-center shadow-xl fade-in-hide">
                <img width="80" class="h-1/2" src="assets/icons/customers-amount.svg" alt="clients">
                <p class="font-bold text-base text-center text-primary mt-6">+2000</p>
                <p class="font-bold text-base text-center text-primary">customers</p>
            </section>
            <section class="w-1/2 h-44 bg-white rounded-md p-2 flex flex-col justify-center items-center shadow-xl fade-in-hide">
                <img width="80" class="h-1/2" src="assets/icons/experience.svg" alt="experience">
                <p class="font-bold text-basetext-center text-primary mt-6">+4 years</p>
                <p class="font-bold text-base text-center text-primary">of experience</p>
            </section>
        </div>
        <div class="w-full sm:w-1/2 flex flex-row gap-2 ">
            <section class="w-1/2 h-44 bg-white rounded-md p-2 flex flex-col justify-center items-center shadow-xl fade-in-hide">
                <img width="70" class="h-1/2" src="assets/icons/ensured-service.svg" alt="Insured">
                <p class="font-bold text-base text-center text-primary mt-6">Insured</p>
            </section>
            <section class="w-1/2 h-44 bg-white rounded-md p-2 flex flex-col justify-center items-center shadow-xl fade-in-hide">
                <img width="75" class="h-1/2" src="assets/icons/licensed-service.svg" alt="licensed">
                <p class="font-bold text-base text-center text-primary mt-6">Licensed</p>
            </section>
        </div>
    </div>

</div>