<div class="mt-4 w-full flex flex-col gap-4 ">
    <h2 class="text-2xl text-primary font-bold text-center w-full mt-6 fade-in-hide">Why choose us</h2>
    <p class="w-full text-md">
        At Marx's Cleaning, your satisfaction is our top priority. We stand behind our services with a 24-hour satisfaction guarantee. If for any reason you're not completely satisfied with the cleanliness of your space, simply let us know within 24 hours, and we'll re-clean it at no additional cost.
    </p>
    <div class="w-full flex flex-row gap-2 ">
        <section class="w-1/2 h-44 bg-white rounded-md p-2 flex flex-col justify-center items-center shadow-xl fade-in-hide">
            <img width="80" src="../../../../../assets/icons/customers-amount.svg" alt="clients">
            <p class="font-bold text-xl text-center text-primary">+2000</p>
            <p class="text-md text-black-text">customers</p>
        </section>
        <section class="w-1/2 h-44 bg-white rounded-md p-2 flex flex-col justify-center items-center shadow-xl fade-in-hide">
            <img width="80" src="../../../../../assets/icons/experience.svg" alt="experience">
            <p class="font-bold text-xl text-center text-primary">+4 years</p>
            <p class="text-md text-black-text">of experience</p>
        </section>
    </div>
    <div class="w-full flex flex-row gap-2 ">
        <section class="w-1/2 h-44 bg-white rounded-md p-2 flex flex-col justify-center items-center shadow-xl fade-in-hide">
            <img width="80" src="../../../../../assets/icons/ensured-service.svg" alt="ensured">
            <p class="font-bold text-xl text-center text-primary">Ensured</p>
        </section>
        <section class="w-1/2 h-44 bg-white rounded-md p-2 flex flex-col justify-center items-center shadow-xl fade-in-hide">
            <img width="80" src="../../../../../assets/icons/licensed-service.svg" alt="licensed">
            <p class="font-bold text-xl text-center text-primary">Licensed</p>
        </section>
    </div>

</div>