<div class="mt-4 w-full flex flex-col gap-4">
    <div class="w-full flex flex-row gap-2 ">
        <section class="w-1/2 h-44 bg-white rounded-md p-2 flex flex-col justify-center items-center shadow-xl">
            <img width="80" src="../../../../../assets/clients.png" alt="clients">
            <p class="font-bold text-xl text-center text-primary">+2000</p>
            <p class="text-sm text-black-text">customers</p>
        </section>
        <section class="w-1/2 h-44 bg-white rounded-md p-2 flex flex-col justify-center items-center shadow-xl">
            <img width="80" src="../../../../../assets/experience.png" alt="experience">
            <p class="font-bold text-xl text-center text-primary">+4 years</p>
            <p class="text-sm text-black-text">of experience</p>
        </section>
    </div>
    <div class="w-full flex flex-row gap-2 ">
        <section class="w-1/2 h-44 bg-white rounded-md p-2 flex flex-col justify-center items-center shadow-xl">
            <img width="80" src="../../../../../assets/ensured.png" alt="ensured">
            <p class="font-bold text-xl text-center text-primary">Ensured</p>
        </section>
        <section class="w-1/2 h-44 bg-white rounded-md p-2 flex flex-col justify-center items-center shadow-xl">
            <img width="80" src="../../../../../assets/licensed.png" alt="licensed">
            <p class="font-bold text-xl text-center text-primary">Licensed</p>
        </section>
    </div>
</div>